body {
  margin: 0;
  padding:0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 8px;
  background: prussianblue;
  color: grey;
  scroll: no;
  overflow: hidden;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

svg {
}

#bgimage {
}

#bg {
  mix-blend-mode: hard-light; //multiply good
}

#mid {
}



.point-cell {
  //fill: none;
  pointer-events: all;
  stroke-opacity: 1;
  //stroke: none;
  stroke-width: 10;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.land {
  fill: #000;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

#timecontrol {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

h1 {
    margin: 12px;
    font-size: 10px;
    color: black;
}

