@font-face {
      font-family: "Lirico SemiBold";
      src: url("/font/Lirico-SemiBold.otf");
    }


body {
  margin: 0;
  padding:0;
  font-family: "Lirico SemiBold", serif;
  font-size: 12px;
  background: rgb(232, 242, 252);
  scroll: no;
  overflow: hidden;
}


p {
  margin: 0;
  margin-bottom: 10px;
}

svg {
}

#bgimage {
}

#bg {
  mix-blend-mode: hard-light; //multiply good
}

#mid {
}

.point-cell {
  //fill: none;
  pointer-events: all;
  stroke-opacity: 1;
  //stroke: none;
  stroke-width: 10;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.land {
  fill: #000;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

#timecontrol {
    width: 300px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

#fastforward {
  margin: 0px 14px;
  background: #3b7d9c;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: rgb(200,219,229);
  font-size: 16px;
  padding: 0px 6px 4px 6px;
  text-decoration: none;
  border: none;
  outline: 0;
  cursor: pointer;
}

#fastforward:hover {
  background: rgb(77,163,203);
  color: rgb(220,241,252);
}

#fastforward:active {
  background: rgb(41,93,109);
  color: rgb(200,219,229);
}



h1 {
    text-transform: uppercase;
    padding: 3px;
    margin: 12px 0px 4px 12px;
    font-size: 14px;
    color: #3b7d9c;
}

