body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

svg {
  background: #eee;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.land {
  fill: #000;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}