html,
body {
        padding: 0px;
        margin: 0px;
        height: 100vh;
        width: 100vw;
}
#slider {
        font-family: "ff-bau-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        bottom: 0;
        height: 10vh;
        width: 100vw;
        text-align: center;
}
.chroniton {
        outline: none;
        height: 60px;
}
#map {
        height: 100vh;
        width: 100vw;
        padding: 0px;
        margin: 0px;
}
.leaflet-container {
        background: #23AFB1;
        background-repeat: repeat;
        background-image: url("/images/bkg.png");
}
